@import '@/scss/variables';

.filtro-container{
  display: flex;
  flex-direction: row;
  position: relative;
  


  // Input
  .v-select.input-filtro.vs--single.vs--searchable{
    border: 0;
    display: block;
    margin: 0 2em;
    flex-basis: 33%;
    
    .vs__search {
      text-align: left;
      padding-left: 10px;
      font-size: .95em;
      margin-top: 10px;
    }

    .label{
      color: $cor-principal;
      font: $font-400;
      font-weight: 400;
      line-height: 1.1em;
      text-align: left;
    }
    
    .vs__dropdown-toggle{
      border: 1px solid #A8A8A8;
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;
      border-top: 0px;
      box-sizing: border-box;
      cursor: pointer;
      transform: rotate(0deg);
    }
  }

  .botao-pesquisa{
    align-self: center;
    background: #6D2080;
    border-radius: 10px;
    color: #FFF;
    font: $font-400;
    height: 36px;
    position: absolute;
    right: 10%;
    text-transform: uppercase;
    width: 156px;
  }
}

.tooltip {
  display: block !important;
  z-index: 10;
  margin-top: 10px;

  .tooltip-inner {
    background: #6D2080;
    color: white;
    line-height: 1.5em;
    border-radius: 5px;
    word-wrap: normal;
    padding: .5em;
  }
}

@media screen and (max-width: 600px) {
  .filtro-container{
    flex-direction: column;
    .v-select.input-filtro.vs--single.vs--searchable:first-child{
      margin-bottom: 1em;
    }
    .botao-pesquisa{
      position: initial;
      margin-top: 2em;
      transform: translateX(3em);
    }
  }
}
